:root {
  font-size: 10px;
}

button {
  font-size: 10px;
}

table {
  font-size: 10px;
}

paper-dialog {
  font-size: 10px;
}

@media (min-width: 400px) and (max-width: 800px) {
	:root {
		font-size: calc( 10px + (24 - 10) * ( (100vw - 400px) / ( 800 - 400) ));
	}
	button {
		font-size: calc( 10px + (20 - 10) * ( (100vw - 400px) / ( 800 - 400) ));
		/*font-size: calc( 12px + (24 - 12) * ( (100vw - 400px) / ( 800 - 400) ));*/
	}
	paper-dialog {
		font-size: calc( 10px + (24 - 10) * ( (100vw - 400px) / ( 800 - 400) ));
	}

	table {
		font-size: calc( 10px + (14 - 10) * ( (100vw - 400px) / ( 800 - 400) ));
	}
}

@media (min-width: 800px) {
  :root {
    font-size: 24px;
  }
	button {
		font-size: 20px;
	       }

	table {
		font-size: 14px;
	}
}
body {
  padding: 0 1em;
}

table {
	border-collapse: collapse;
	border-spacing: 0px;
	border: 1px solid #CBCBCB;
	margin-left: auto;
	margin-right: auto;
}

td, th {
  	line-height: 1em;
	padding: 0.3em 0.3em;
	border: 1px solid #CBCBCB;
}

.heading {
    padding: 5px;
    margin-top: 5px;
    background-color: #f3f3f3;
    border: 1px solid #dedede;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /*font-size: 3vw;*/
	
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    text-align: left;
}

.content {
    background-color: beige;
    padding: 5px;
    border: 1px solid #dedede;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    @apply(--shadow-elevation-2dp);
}

.double {
	background-color: #e4d4f3;
}

.td-tar {
	text-align: right;
}

[is-home] {
	font-weight: bold;
}
[winner="G"] {
	background-color: #ccffcc; /*Galip*/
}
[winner="B"] {
	background-color: #ffff80; /*Beraber*/
}
[winner="M"] {
	background-color: #ffe6cc; /*Maglup;*/
}
